# Node Modules
node_modules

# MacOS
.DS_Store

# Yarn berry
.yarn/*
!.yarn/releases
!.yarn/plugins

# Tsc Build
**/lib
**/build
**/dist

# Zombienet
zombienet-macos
zombienet-linux-arm64
zombienet-linux-x64
zombienet.log
zombienet/bin/*

# Binaries
/bin/*
!bin/README.md

# Chopsticks
db.sqlite
db.sqlite-*
chopsticks-db

# VS Code
.vscode/

# Package Lock file
package-lock.json

.tshy
.tshy-build
