# Node Modules
/node_modules

# MacOS
.DS_Store

# Yarn berry
.yarn/*
!.yarn/releases
!.yarn/plugins

# Tsc Build
**/build

# Zombienet
zombienet-macos
zombienet-linux-arm64
zombienet-linux-x64
zombienet.log

# Binaries
/bin/*
!bin/README.md
